doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/dist/css/bootstrap.css')
    title!= title
  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#na") Poke HALO
    div.container-fluid
      div.row
        div.col-sm-12.col-md-5.col-md-offset-1.main
          block content
