.main {
  margin-top: 70px;
}
footer {
  margin-top: 100px;
}
a.btn-delete {
  border-radius: 15px;
  background: #ccc;
  color: #fff;
  padding: 2px 5px 3px 4px;
  font-size: 0.9em;
  line-height: 1em;
}
a.btn-delete:hover {
  background: #4fc1e9;
  color: #fff;
}
