@import '_variables.less';

.main {
    margin-top: 70px;
}

footer {
    margin-top: 100px;
}

a.btn-delete {
    border-radius: 15px;
    background: #ccc;
    color: #fff;

    padding: 2px 5px 3px 4px;

    font-size: 0.9em;
    line-height: 1em;
    &:hover {
        background: @blue;
        color: #fff;
    }
}
